{% extends 'hostnames/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Editar Item
{% endblock %}

{% block bootstrap3_content %}
<div class='container'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Web Dev Academy</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
          <li><a href="/create">Adicionar</a></li>
          <li><a href="/list">Listar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Início</a></li>
          <li><a href="#">Opções</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div>
   </div>
 </nav>
 
 <br>

 <div id="main" class="container-fluid">
   <h3 class="page-header">Editar Host</h3>
 </div>

 <form action="/update/" method="post">{% csrf_token %}
   <div class="row">
      <div class="form-group col-md-4">
         <label for="hostname">Hostname</label>
         <input type="text" class="form-control" id="hostname" name ="hostname" value="{{host.hostname}}">
       </div>
       <div class="form-group col-md-4">
         <label for="macadd">Endereço Mac</label>
         <input type="text" class="form-control" id="mac" name ="mac" value="{{host.mac_address}}">
       </div>
       <div class="form-group col-md-4">
         <label for="ipadd">Endereço IP</label>
         <input type="text" class="form-control" id="ip" name ="ip" value="{{host.ip_address}}">
       </div>
       <input type="hidden" id="id" name="id" value="{{host.id}}">
   </div>

   
   <hr />
   <div id="actions" class="row">
     <div class="col-md-12">
       <button type="submit" class="btn btn-primary">Salvar</button>
       <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
     </div>
   </div>
 </form>
</div>

{% endblock %}
